<div *ngIf="beer">

  <h2>{{ beer.name | uppercase }} Details</h2>


  <div>
    <label >Pints:
      <input [(ngModel)]="beer.pint" placeholder="pint" [ngClass]="{'red': beer.pint<10}">
    </label>
    <button type="button" (click)="subtractPint()" name="button">Pull Pint</button>
    <label>Name:
      <input [(ngModel)]="beer.name" placeholder="name">
    </label>
    <label>Brand:
      <input [(ngModel)]="beer.brand" placeholder="brand">
    </label>
    <label>Description:
      <br>
      <textarea [(ngModel)]="beer.description" placeholder="description"></textarea>
    </label>
    <label>Price:
      <input [(ngModel)]="beer.price" placeholder="price" [ngClass]="{'green': beer.price<5}">
    </label>
    <label>ABV:
      <input [(ngModel)]="beer.alcoholContent" placeholder="abv" [ngClass]="{'red': beer.alcoholContent>10}">
    </label>

  </div>

</div>
