

h3, p{
  color:white;
  text-align: center;
}

#birthday {
  width:25%;
  display: block;
  margin: 0 auto;
}
#enter {
  background-color: black;
  border: 1px solid yellow;
  color: yellow;
  width: 40%;
  display: block;
  margin: 0 auto;
}
